version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: pixecom-postgres
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: pixecom
      POSTGRES_PASSWORD: pixecom_dev
      POSTGRES_DB: pixecom_v2
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: pixecom-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
